/* Import Bootstrap icon via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 4, 45);
    width: 100%;
    height:max-content;
    padding:0.8em 0em;
}

#navMenuList {
    display: none;
}

.mainContainer {
    height: 90vh;
    overflow: auto;
}

.right div ul {
    display: flex;
}

.right div ul li {
    list-style: none;
    margin: 0 1.5em;
}

.right div ul li:hover {
    backdrop-filter: brightness(50%);
    text-shadow: 2px 2px 5px #ffffff;
}

.right div ul li a {
    text-decoration: none;
    color: white;
}

.right div ul li::first-letter {
    color: rgb(170, 107, 228);
    font-size: 1.2em;
}

.left {
    font-size: 2em;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 2em 0 0 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 1.5em;
    margin: auto;
}

.rightSection {
    margin-right: 220px;
}

.secondSection,
.thirdSection,
.fourthSection {
    border-top: 2px solid #9c97f1;
    max-width: 85vw;
    margin: 3em auto;
}

.secondSection h1,
.secondSection h2,
.thirdSection h1,
.fourthSection h1,
.fourthSection h3 {
    color: rgb(170, 107, 228);
    padding: 1em 1.5em;
}

.secondSection blockquote {
    text-indent: 8em;
    width: 70vw;
    text-align: justify;
    margin: auto;
    line-break: anywhere;
}

.secondSection blockquote::first-letter {
    font-size: 1.8em;
}

.educationTitleContainer {
    display: flex;
    justify-content: space-between;
}

.certificateTitleResponsiveContainer {
    display: none;
}

.educationStyleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.educationContainer,
.certificationContainer {
    width: 30vw;
    text-align: center;
}

.eduChildStyleContainer::after {
    content: "******************************************************";
}

.educationContainer h3,
.certificationContainer h3 {
    border-bottom: 0.1em solid white;
}

.educationContainer p,
.certificationContainer p {
    margin-bottom: 1em;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4em;
}

.firstProject,
.secondProject,
.thirdProject,
.fourthProject,
.fifthProject,
.sixthProject,
.seventhProject,
.eightProject,
.ninthProject,
.tenthProject,
.eleventhProject {
    width: max-content;
    box-shadow: 0px 0px 20px 6px mediumpurple;
    border-radius: 8px;
}

.firstProject img,
.secondProject img,
.thirdProject img,
.fifthProject img,
.sixthProject img,
.seventhProject img,
.eightProject img,
.ninthProject img,
.tenthProject img,
.eleventhProject img {
    width: 400px;
    border-radius: 8px;
}

.fourthProject a:nth-child(1) img {
    width: 190px;
    height: 245px;
    border-radius: 8px;
}

.fourthProject a:nth-child(2) img {
    width: 210px;
    height: 245px;
    border-radius: 8px;
}

.firstDescription,
.secondDescription,
.thirdDescription,
.fourthDescription,
.fifthDescription,
.sixthDescription,
.seventhDescription,
.eightDescription,
.ninthDescription,
.tenthDescription,
.eleventhDescription {
    text-align: center;
    width: 350px;
    padding: 1.5em;
    box-shadow: 0px 0px 20px 6px mediumpurple;
    border-radius: 8px;
    font-size: 1.1em;
}

.firstDescription p:nth-child(2),
.secondDescription p:nth-child(2),
.thirdDescription p:nth-child(2),
.fourthDescription p:nth-child(2),
.fifthDescription p:nth-child(2),
.sixthDescription p:nth-child(2),
.seventhDescription p:nth-child(2),
.eightDescription p:nth-child(2),
.ninthDescription p:nth-child(2),
.tenthDescription p:nth-child(2),
.eleventhDescription p:nth-child(2) {
    color: #9c97f1;
}

.firstDescription p:nth-child(3),
.secondDescription p:nth-child(3),
.thirdDescription p:nth-child(3),
.fourthDescription p:nth-child(3),
.fifthDescription p:nth-child(3),
.sixthDescription p:nth-child(3),
.seventhDescription p:nth-child(3),
.eightDescription p:nth-child(3),
.ninthDescription p:nth-child(3),
.tenthDescription p:nth-child(3),
.eleventhDescription p:nth-child(3){
    color: rgb(170, 107, 228);
    font-weight: bold;
    line-break: anywhere;
}

.fourthSection a {
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.footerContactContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerContactContainer div:nth-child(3) {
    margin-left: 1.5em;
}

.formStyleContainer{
    width:38vw;
    height: max-content;
    padding: 1em;
    border:1px solid rgb(170, 107, 228);
    border-radius:0.6em;
    background-color: rgba(245, 245, 245,0.2);
}

.formStyle{
  width:36vw;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  border-radius:0.4em;
  margin-bottom: 1em;
}

.btnStyle{
    width:max-content;
    padding:1em;
    border-radius:0.6em;
    font-size:1em;
    background-color:rgb(170, 107, 228);
    color: #ffffff;
    font-weight:580;
    cursor: pointer;
}

.backToHomePageContainer{
    text-align: center;
    margin-top: 2em;
}

.backToHomePageContainer a{
    color:#9c97f1;
    border:2px solid #9c97f1;
    border-radius: 0.6em;
}

.backToHomePageContainer a:hover{
    text-decoration:underline;
    color:white;
}

/* Media Query Start.. */
@media screen and (max-width: 768px) and (orientation: portrait) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(4, 4, 45);
        width: 90%;
        height: 10vh;
        padding: 0px 1em;
    }

    #navMenu {
        display: none;
    }

    .right {
        position: relative;
    }

    .right div ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(4, 4, 45);
        width: 81vw;
        padding: 0.8em 2em;
        left: -20em;
        top: 4.2em
    }

    .right div ul li {
        margin-left: 6em;
    }

    #navMenuContainer {
        position: relative;
    }

    #navMenuList {
        display: block;
        font-size: 2.5em;
        margin-bottom: 0.3em;
        cursor: pointer;
    }

    .firstSection>div {
        width: 80%;
    }

    .rightSection {
        display: none;
    }

    .secondSection blockquote {
        text-indent: 4em;
        width: 80vw;
        text-align: justify;
        margin: auto;
        line-break: anywhere;
    }

    .educationTitleContainer {
        display: flex;
        flex-direction: column;
    }

    .certificateTitleContainer {
        display: none;
    }

    .certificateTitleResponsiveContainer {
        display: block;
    }

    .educationStyleContainer {
        display: flex;
        flex-direction: column;
    }

    .eduChildStyleContainer::after {
        content: "****************************************";
    }

    .educationContainer,
    .certificationContainer {
        width: 80vw;
        text-align: center;
    }

    .firstProject img,
    .secondProject img,
    .thirdProject img,
    .fifthProject img,
    .sixthProject img,
    .seventhProject img,
    .eightProject img,
    .ninthProject img, 
    .tenthProject img,
    .eleventhProject img{
        width: 360px;
        border-radius: 8px;
    }

    .fourthProject a:nth-child(1) img {
        width: 150px;
        height: 250px;
        border-radius: 8px;
    }

    .fourthProject a:nth-child(2) img {
        width: 170px;
        height: 250px;
        border-radius: 8px;
    }

    .firstDescription,
    .secondDescription,
    .thirdDescription,
    .fourthDescription,
    .fifthDescription,
    .sixthDescription,
    .seventhDescription,
    .eightDescription,
    .ninthDescription,
    .tenthDescription,
    .eleventhDescription {
        text-align: center;
        width: 350px;
        padding: 1.5em;
        box-shadow: 0px 0px 20px 6px mediumpurple;
        border-radius: 8px;
        font-size: 1.1em;
        margin: 0.8em 0px;
    }

    .footerContactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerContactContainer div:nth-child(3) {
        margin-left: 1.5em;
    }

    .formStyleContainer{
        width:75vw;
        height: max-content;
        padding: 1em;
        border:1px solid rgb(170, 107, 228);
        border-radius:0.6em;
        background-color: rgba(245, 245, 245,0.2);
        margin-top: 1.5em;
    }

    .formStyle{
        width:68vw;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        background-color: white;
      }

}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .educationTitleContainer {
        display: flex;
        flex-direction: column;
    }

    .certificateTitleContainer {
        display: none;
    }

    .certificateTitleResponsiveContainer {
        display: block;
    }

    .educationStyleContainer {
        display: flex;
        flex-direction: column;
    }

    .eduChildStyleContainer::after {
        content: "****************************************";
    }

    .educationContainer,
    .certificationContainer {
        width: 80vw;
        text-align: center;
    }

    section{
        overflow-x: hidden;
    }

    .right div ul li {
        list-style: none;
        margin: 0 1em;
    }
}