* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.youtubeHeader {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 10px;
    /* border:1px solid black; */
    align-items: center;
    position: fixed;
    top:0;
    font-size: 1em;
    width:100vw;
    height:max-content;
}

.leftHeader {
    padding-left: 20px;
    /* align-items: center; */
    width: max-content;
}

.leftHeader span {
    font-size: 2.5em;
    margin-right: 15px;
}
.centerHeader{
    width:max-content;
}
.centerHeader input {
    width:30vw;
    height: 40px;
    padding-left: 15px;
    font-size: 1.1em;
    border: 1px solid gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.centerHeader button {
    width:4vw;
    height: 40px;
    padding-right:10px;
    margin-left: -4px;
    font-size: 1.1em;
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.centerHeader span {
    font-size:1.4em;
    margin-left:10px;
}

.rightHeader {
    display: flex;
    align-items: center;
}

.rightHeader span,
img {
    margin-right: 25px;
}

.rightHeader span {
    font-size: 23px;
}

.rightHeader img {
    border: 1px solid black;
    border-radius: 30px;
}

.mainPannel {
    display: grid;
    grid-template-columns: 0.5fr 11.5fr;
    column-gap: 10px;
    margin-top:40px;
}

.navList ul {
    list-style: none;
}

.bi-house-door,
.bi-collection-play,
.bi-journals {
    font-size: 30px;
}

.navList ul li span {
    font-size: 13px;
    display:flex;
    justify-content:center;
    /* justify-content: center; */
    /* flex-direction:column; */
}

.navList ul li {
    text-align: center;
    margin-top: 25px;
}

.navList ul li img {
    margin-left: 20px;
}

.channelDescriptionContainer {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
    margin-top: 30px;
}

.channelDescriptionLogo {
    text-align: right;
}
.channelDescriptionTitle{
    margin-top:20px;
}
.channelDescriptionTitleHead{
    font-size:25px;
}
.channelDescriptionTitleBody{
    margin-bottom:10px;
    margin-top:10px;
}
.channelDescriptionTitleBody span,.channelDescriptionTitleFoot{
    font-size:16px;
    color:gray;
    margin-right:18px;
}
.channelDescriptionTitleBody span:nth-child(1){
    font-weight: bold;
}
.channelDescriptionOptions{
    margin-top:30px;
    position: relative;
}
.detailsContainer summary{
    list-style:none;
    /* font-weight: normal; */
    color:rgb(33, 33, 33);
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    width: max-content;
    padding:10px 20px;
    border-radius: 20px;
    font-size: 18px;
}
.detailsContainer summary:hover{
    background-color:lightgray;
}
/* .detailsContainer summary::after{
    content:"˅";
    margin-left:5px;
    font-size:15px;
} */
.summaryBell{
    margin-right:10px;
}
.detailsContainer ul{
    margin-left:20px;
    list-style: none;
    background-color:whitesmoke;
    border-radius:5px;
    border: 1px solid gray;
    width: max-content;
    padding:0px 30px 0px 0px;
    position: absolute;
    z-index: 1;
}
.detailsContainer ul li{
    padding:10px 0 10px 10px;
    width: 124%;
    border-radius: 5px;
}
.detailsContainer ul li:hover{
    background-color: lightgray;
}
.detailsContainer ul li span{
    padding-left:20px;
}
.navMenu{
    padding:1.5% 8%;
    border-bottom: 1px solid gray;
    /* padding-top:10px;
    padding-bottom:10px; */
    position:sticky;
    top:16px;
    background-color: white;
}
.navMenu ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    color: rgb(87, 84, 84);
}
.videoFirstRow{
    /* display: flex; */
    width: 92%;
    margin:3% 2% 0% 8%;
    padding-right:20px;
}
.videoFirstRow iframe{
    border-radius: 10px;
    width:24%;
    height:25vh;
}
.youtubeMainContainer{
    height:90vh;
    overflow: auto;
}
.channelBanner{
    background-image: url("./youtubeImg/channelBanner.JPG");
    background-size:95%;
    background-repeat: no-repeat;
    height: 35vh;
    background-attachment:fixed;
    background-position:40px 50px;
    /* margin-top:10px; */
}
.bi-chevron-down{
    margin-left:10px;
}